{# Utilisé pour les pages de Naski (Pages d'erreurs, backend...) #}

{% extends 'default.twig' %}


{% block body %}
    <div class="container">
    <h1>Naski Framework</h1>
    {% block content %}{% endblock %}
    </div>

{% endblock %}
