<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>My Webpage</h1>
        {{ demo_var }}
        Environnement : {{ display }}

        <form action="/product" method="POST">
            <input type="text" name="id" value="3">

        </form>
    </body>
</html>
