<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>My Webpage</h1>
        {{ demo_var }}
        Environnement : {{ display }}
    </body>
</html>
