<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include '@devBar/view.twig' %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
