<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <style media="screen">
            {{ css_content }}
        </style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
       {% include '@devBar/view.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
