<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Naski Framework{% endblock %}</title>
        <style media="screen">
            {{ css_content }}
        </style>
        {% block stylesheets %}
            {% for file in css_files %}
                <link href="{{ file }}" rel="stylesheet" type="text/css" />
            {% endfor %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% include '@devBar/view.twig' %}
        {% block javascripts %}
            {% for file in js_files %}
                <script type="text/javascript" src="{{ file }}"></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>
